.movie {
  background-color: rgba(255, 255, 255, 0.963);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.movies{
  background-color: rgba(179, 179, 179, 0.145);
}