@-webkit-keyframes mymove{
  20%{ transform: rotate(72deg);}
  40%{ transform: rotate(144deg);}
  60%{ transform: rotate(216deg);}
  80%{ transform: rotate(288deg);}
  100%{ transform: rotate(360deg);}
}
@keyframes mymove{
  20%{ transform: rotate(72deg);}
  40%{ transform: rotate(144deg);}
  60%{ transform: rotate(216deg);}
  80%{ transform: rotate(288deg);}
  100%{ transform: rotate(360deg);}
}
.loading{
  border: solid 5px #BBDEFB;
  border-radius:100%;
  border-bottom-color: #2196F3;
  width:50px;
  height: 50px;
  -webkit-animation:mymove .5s infinite;
  animation: mymove .5s infinite;
  
  /*Para posicionamiento*/
  position:absolute;
  margin: auto;
  left: 0;
  top:0;
  right:0;
  bottom:0;
}
.load{
  height: 85vh;
  width: 30vh;
  margin: 2rem;
  padding: 2rem 4rem 4rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.925);
}
