body {
    background-image: url("https://rtlimages.apple.com/cmc/dieter/store/16_9/R236.png");
    background-color: rgba(252, 249, 249, 0.345);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.form{
    height: 85vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.925);
}



